Search interaction 2.py
Search interaction.py
WebScraping.py
WebScraping_Selenium.py
chromedriver
info.py
register_new_user.py
reports/
smoketest.py
venv/
Captura de Pantalla 2022-08-28 a la(s) 10.09.06 p.m..png
Captura de Pantalla 2022-08-28 a la(s) 10.09.47 p.m..png
Captura de Pantalla 2022-08-28 a la(s) 10.10.06 p.m..png
Captura de Pantalla 2022-08-28 a la(s) 10.10.33 p.m..png